<div class="flex justify-center">
    <h1 class="bg-blue-400 text-4xl content-center">Safe Travels</h1>
   </div>
 


<div  class="flex flex-row justify-center">
  <h2 class="text-2xl">Enter Your Region </h2><br>
  <input type="text">

</div>


    <h3 class="flex flex-row justify-center text-2xl">Risk Level</h3>
 
    <div class="flex flex-row justify-center">
       <div class="basis-1/4 bg-green-700">Low</div>
     <div class="basis-1/4 bg-yellow-400">Medium</div>
      <div class="basis-1/4 bg-red-700">High</div>

</div>