{{#if user}}
  <div class="flex justify-center">
    <h2 id="favorites" class="text-2xl">Your Favorites</h2>
  </div>

  <div class="flex justify-center">
    <ul>
      {{#each user.favorites}}
        <li class="flex">
          <button class="favorite text-blue-500">
            <span class="favorite-city">{{favorite_city}}</span>,
            <span class="favorite-state">{{favorite_state}}</span>
          </button>
          <button class="delete-favorite text-red-500">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM6.75 9.25a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z" clip-rule="evenodd" />
            </svg>
          </button>
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<div class="flex justify-center">
  <h2 class="text-2xl">Search By Region</h2>
</div>

<div class="flex justify-center">
  <form autocomplete="off" id="search-form">
    <input class="region" type="text" placeholder="City or County" id="search-city">
    <input class="region" type="text" placeholder="State" id="search-state">
    <button class="submit" type="submit">Search</button>
  </form>
</div>

<div class="flex justify-center">
  <h2 id="results" class="text-2xl"></h2>
</div>

<div class="flex justify-center">
  <div id="city-covid-data"></div>
</div>

<script src="js/search-and-favorites.js"></script>
