{{#if user}}
  <div class="flex justify-center">
    <h2 id="favorites" class="text-2xl">Your Favorites</h2>
  </div>

  <div class="flex justify-center">
    <ul>
      {{#each user.favorites}}
        <li>{{favorite_city}}, {{favorite_state}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<div class="flex justify-center">
  <h2 class="text-2xl">Search By Region</h2>
</div>

<div class="flex justify-center">
  <form id="search-form">
    <input class="Region" type="text" autocomplete="off" placeholder="City or County" id="city">
    <input class="Region" type="text" autocomplete="off" placeholder="State" id="state">
    <button class="submit" type="submit">Search</button>
  </form>
</div>

<div class="flex justify-center">
  <h2 id="results" class="text-2xl"></h2>
</div>

<div class="flex justify-center">
  <div id="city-covid-data"></div>
</div>

<script src="js/search.js"></script>

{{!-- commenting this out for now, since we won’t be able to calculate risk level by the time the project is due.
<h3 class="flex flex-row justify-center text-2xl">Risk Level</h3>

<div class="flex flex-row justify-center">
  <div class="basis-1/4 bg-green-700">Low</div>
  <div class="basis-1/4 bg-yellow-400">Medium</div>
  <div class="basis-1/4 bg-red-700">High</div>
</div>
--}}