<div class="flex justify-center">
  <h1 class="bg-blue-400 text-4xl content-center">Safe Travels</h1>
</div>

<div class="flex flex-row justify-center">
  <h2 class="text-2xl">Search By Region</h2>
  <form id="search-form">
    <input type="text" placeholder="City or County" id="city">
    <input type="text" placeholder="State" id="state">
    <button type="submit">Search</button>
  </form>
</div>

<div class="flex flex-row justify-center">
  <h2 class="text-2xl">Results</h2>
  {{covidData}}
</div>

{{!-- commenting this out for now, since we won’t be able to calculate risk level by the time the project is due
<h3 class="flex flex-row justify-center text-2xl">Risk Level</h3>

<div class="flex flex-row justify-center">
  <div class="basis-1/4 bg-green-700">Low</div>
  <div class="basis-1/4 bg-yellow-400">Medium</div>
  <div class="basis-1/4 bg-red-700">High</div>
</div>
--}}