<div class="flex justify-center">
  <h2 class="text-2xl">Sign Up</h2>
</div>

<div class="flex justify-center">
  <form id="sign-up-form">
    <input type="text" placeholder="First Name" id="first-name">
    <br>
    <input type="text" placeholder="Last Name" id="last-name">
    <br>
    <input type="text" placeholder="Email" id="email">
    <br>
    <input type="password" placeholder="Password" id="password">
    <br>
    <button type="submit">Sign Up</button>
  </form>
</div>

<script src="js/sign-up.js"></script>
