<div class="flex justify-center">
  <h2 class="text-2xl">Sign In</h2>
</div>

<div class="flex justify-center">
  <form id="sign-in-form">
    <input class="Region" type="text" placeholder="Email" id="email">
    <br>
    <input class="Region" type="password" placeholder="Password" id="password">
    <br>
    <button class="submit" type="submit">Sign In</button>
  </form>
</div>

<script src="js/sign-in.js"></script>
