<div class="flex justify-center">
  <h2 class="text-2xl">Sign In</h2>
</div>

<div class="flex justify-center">
  <form id="sign-in-form">
    <input type="text" placeholder="Email" id="sign-in-email">
    <br>
    <input type="password" placeholder="Password" id="sign-in-password">
    <br>
    <button type="submit">Sign In</button>
  </form>
</div>

<div class="flex justify-center">
  <h2 class="text-2xl">Sign Up</h2>
</div>

<div class="flex justify-center">
  <form id="sign-up-form">
    <input type="text" placeholder="First Name" id="sign-up-first-name">
    <br>
    <input type="text" placeholder="Last Name" id="sign-up-last-name">
    <br>
    <input type="text" placeholder="Email" id="sign-up-email">
    <br>
    <input type="password" placeholder="Password" id="sign-up-password">
    <br>
    <button type="submit">Sign Up</button>
  </form>
</div>

<script src="js/sign-in.js"></script>
