<div class="flex justify-center">
  <h1 class="text-2xl">Sign Up</h1>
</div>

<div class="flex justify-center">
  <form id="sign-up-form">
    <input class="Region" type="text" placeholder="First Name" id="first-name">
    <br>
    <input class="Region" type="text" placeholder="Last Name" id="last-name">
    <br>
    <input class="Region" type="text" placeholder="Email" id="email">
    <br>
    <input class="Region" type="password" placeholder="Password" id="password">
    <br>
    <button class="submit" type="submit">Sign Up</button>
  </form>
</div>

<script src="js/sign-up.js"></script>
